// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {padding: 70px;}
.statuses {
	border-bottom: 1px solid #CCC;
	padding: 5px 10px;
}
.statuses p {
	margin: 4px 0;
}

.statuses.hover {
	background: #fafafa;
}

.statuses .admin {
	display: none;
}

.statuses.hover .admin {
	display: inline;
}